<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FirstTestSuite">
  <test name="RookieTest">
    <classes>
      <class name="com.demo.main.LaunchExplorerTest"/>
    </classes>
  </test> <!-- RookieTest -->
</suite> <!-- FirstTestSuite -->
